* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'swiper/swiper.scss';
@import "swiper/components/pagination/pagination.scss";
@import "swiper/components/navigation/navigation.scss";

:root {
  --primary: #A020F0;
  --primary-light: #D090F8;
  --primary-dark: #501078;

  --primary-body-light: #B34DF3;

  --background: #601390;
  --textBlueDark: #0D0047;

  --white: #FFFFFF;

  --swiper-navigation-color: #FFF;
  --swiper-pagination-color: var(--primary);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body{
  background: #FFE0FA;
}

body, button {
  font: 500 1rem Poppins ,sans-serif;
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: Poppins, sans-serif;
  color: var(--white);
}

a {
  font-family: Poppins, sans-serif;
  color: var(--white);
  text-decoration: none;
}

h1 {
  font: 3rem;
  line-height: 100%;
}

h2 {
  font: 2.25rem;
  line-height: 110%;
}

h3 {
  font: 1.5rem;
  line-height: 115%;
  color: var(--textBlueDark);
}

h4 {
  font: 1rem;
  line-height: 130%;
  color: var(--textBlueDark);
}

button {
  cursor: pointer;
}